@charset "utf-8";
	.NormalCharacterStyle20
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle27
{
	font-family : Bahnschrift;
	font-size : 41pt;
	text-transform : uppercase;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle33
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle13
{
	font-family : Bahnschrift;
	font-size : 41pt;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle69
{
	font-family : Bahnschrift;
	font-size : 41pt;
	text-transform : uppercase;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle84
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle14
{
	font-family : Bahnschrift;
	font-size : 41pt;
	text-transform : uppercase;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle32
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle24
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle7
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle26
{
	font-family : Bahnschrift;
	font-size : 41pt;
	text-transform : uppercase;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle65
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle45
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle52
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle56
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle79
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle19
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle1
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle43
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle66
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle12
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle21
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle6
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle44
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle18
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle3
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle71
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle15
{
	font-family : Bahnschrift;
	font-size : 41pt;
	text-transform : uppercase;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle40
{
	font-family : Bahnschrift;
	font-size : 41pt;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle75
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle46
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle55
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle80
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle38
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle82
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle74
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle91
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle77
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle47
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle11
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle58
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle42
{
	font-family : Bahnschrift;
	font-size : 41pt;
	text-transform : uppercase;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle49
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle16
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle87
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle39
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle41
{
	font-family : Bahnschrift;
	font-size : 41pt;
	text-transform : uppercase;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle54
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle29
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle67
{
	font-family : Bahnschrift;
	font-size : 41pt;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle28
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle57
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle64
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle93
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle9
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle81
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle51
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle36
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle62
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle70
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle68
{
	font-family : Bahnschrift;
	font-size : 41pt;
	text-transform : uppercase;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle60
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle86
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle53
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle59
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle85
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle61
{
	font-family : Myriad Pro;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle83
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle76
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle23
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle72
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle
{
	font-family : Bahnschrift;
	font-size : 71pt;
	text-transform : uppercase;
	color : #D9963A;
	color : rgb(217, 150, 58);
}
.NormalCharacterStyle31
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle63
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle89
{
	font-family : Bahnschrift;
	font-size : 41pt;
	text-transform : uppercase;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle90
{
	font-family : Bahnschrift;
	font-size : 41pt;
	text-transform : uppercase;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle88
{
	font-family : Bahnschrift;
	font-size : 41pt;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle35
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle30
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle8
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle17
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle73
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle25
{
	font-family : Bahnschrift;
	font-size : 41pt;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle10
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle48
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle4
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle50
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle5
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle78
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle22
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle2
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle92
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle37
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle34
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle104
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle106
{
	font-family : Bahnschrift;
	font-size : 41pt;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle107
{
	font-family : Bahnschrift;
	font-size : 41pt;
	text-transform : uppercase;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle103
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle102
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle101
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle108
{
	font-family : Bahnschrift;
	font-size : 41pt;
	text-transform : uppercase;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle97
{
	font-family : Bahnschrift;
	font-size : 41pt;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle96
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle100
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle99
{
	font-family : Bahnschrift;
	font-size : 41pt;
	text-transform : uppercase;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle98
{
	font-family : Bahnschrift;
	font-size : 41pt;
	text-transform : uppercase;
	color : #29ABE2;
	color : rgb(41, 171, 226);
	text-shadow : 0pt 7pt 2pt rgba(0, 0, 0, 0.75);
}
.NormalCharacterStyle105
{
	font-family : Acumin Variable Concept;
	font-size : 22pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle94
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle95
{
	font-family : Acumin Variable Concept;
	font-size : 20pt;
	text-transform : uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
