@charset "utf-8";
	.NormalCharacterStyle4
{
	font-family : Chiller;
	font-size : 75px;
	color : #F9F7F7;
	color : rgb(249, 247, 247);
}
.NormalCharacterStyle8
{
	font-family : Berlin Sans FB;
	font-size : 42px;
	color : #00FFFF;
	color : rgb(0, 255, 255);
}
.NormalCharacterStyle7
{
	font-family : Futura Md BT;
	font-size : 30px;
	color : #FCF7F7;
	color : rgb(252, 247, 247);
}
.NormalCharacterStyle9
{
	font-family : Futura Md BT;
	font-size : 30px;
	color : #FCF7F7;
	color : rgb(252, 247, 247);
}
.NormalCharacterStyle5
{
	font-family : Futura Md BT;
	font-size : 30px;
	color : #FCF7F7;
	color : rgb(252, 247, 247);
}
.NormalCharacterStyle6
{
	font-family : Berlin Sans FB;
	font-size : 42px;
	color : #00FFFF;
	color : rgb(0, 255, 255);
}
.NormalCharacterStyle3
{
	font-family : Nirmala UI;
	font-size : 39px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.NormalCharacterStyle12
{
	font-family : Berlin Sans FB;
	font-size : 68px;
	color : #00FFFF;
	color : rgb(0, 255, 255);
}
.NormalCharacterStyle11
{
	font-family : Futura Md BT;
	font-size : 30px;
	color : #FCF7F7;
	color : rgb(252, 247, 247);
}
.NormalCharacterStyle10
{
	font-family : Berlin Sans FB;
	font-size : 42px;
	color : #00FFFF;
	color : rgb(0, 255, 255);
}
.NormalCharacterStyle2
{
	font-family : Nirmala UI;
	font-size : 39px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-outline : #FFFFFF;
	text-outline : rgb(255, 255, 255);
}
.NormalCharacterStyle
{
	font-family : Futura Md BT;
	font-size : 30px;
	color : #FCF7F7;
	color : rgb(252, 247, 247);
}
.NormalCharacterStyle1
{
	font-family : Berlin Sans FB;
	font-size : 42px;
	color : #00FFFF;
	color : rgb(0, 255, 255);
}
