@charset "utf-8";
	.NormalCharacterStyle11
{
	font-family : Courier New;
	font-size : 15px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle10
{
	font-family : Techno Board;
	font-size : 93px;
	line-height : 80.43px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle9
{
	font-family : Courier New;
	font-weight : bold;
	font-size : 15px;
	line-height : 18px;
	color : #E1F4FD;
	color : rgb(225, 244, 253);
}
.NormalCharacterStyle8
{
	font-family : Doctor Glitch;
	font-size : 31px;
	line-height : 42px;
	color : #00315A;
	color : rgb(0, 49, 90);
}
.NormalCharacterStyle4
{
	font-family : Berlin Sans FB;
	font-weight : bold;
	font-size : 67px;
	line-height : 84.98px;
	color : #00315A;
	color : rgb(0, 49, 90);
	opacity : 0.38;
	filter: alpha(opacity=38) progid:DXImageTransform.Microsoft.Alpha(opacity=38) ;
}
.NormalCharacterStyle3
{
	font-family : Doctor Glitch;
	font-size : 57px;
	line-height : 65.96px;
	letter-spacing : 2.62px;
	color : #79C9EE;
	color : rgb(121, 201, 238);
}
.NormalCharacterStyle2
{
	font-family : Doctor Glitch;
	font-size : 50px;
	line-height : 47px;
	letter-spacing : 2.3px;
	color : #AF90C3;
	color : rgb(175, 144, 195);
}
.NormalCharacterStyle1
{
	font-family : Myriad Pro;
	font-size : 15px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle
{
	font-family : Berlin Sans FB;
	font-weight : bold;
	font-size : 67px;
	line-height : 84.98px;
	color : #00315A;
	color : rgb(0, 49, 90);
	opacity : 0.38;
	filter: alpha(opacity=38) progid:DXImageTransform.Microsoft.Alpha(opacity=38) ;
}
.st0
{
	background : #5A4EA1;
	background : rgba(90, 78, 161, 1);
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 595px;
	height : 841px;
}
.st1
{
	background : #302872;
	background : rgba(48, 40, 114, 1);
	position : absolute ;
	left : -3152px;
	top : 0px;
	width : 595px;
	height : 841px;
}
.image3
{
	background-image : url(image3.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -3154px;
	top : -23px;
	width : 601px;
	height : 414px;
}
.st2
{
	background : #576AB1;
	background : rgba(87, 106, 177, 1);
	position : absolute ;
	left : -1901px;
	top : 0px;
	width : 595px;
	height : 841px;
}
.st3
{
	background : #2C3E57;
	background : rgba(44, 62, 87, 1);
	position : absolute ;
	left : -615px;
	top : 0px;
	width : 595px;
	height : 841px;
}
.st4
{
	background : #576AB1;
	background : rgba(87, 106, 177, 1);
	position : absolute ;
	left : -2529px;
	top : 0px;
	width : 595px;
	height : 841px;
}
.image2
{
	background-image : url(image2.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -2434px;
	top : 479px;
	width : 405px;
	height : 191px;
}
.st5
{
	background : #2C3E57;
	background : rgba(44, 62, 87, 1);
	position : absolute ;
	left : -1286px;
	top : 0px;
	width : 595px;
	height : 841px;
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : -506px;
	top : 475px;
	width : 377px;
	height : 296px;
}
.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
	opacity : 0.53;
	position : absolute ;
	left : -914px;
	top : 69px;
	width : 205px;
	height : 230px;
	filter: alpha(opacity=53) progid:DXImageTransform.Microsoft.Alpha(opacity=53) ;
}
.st6
{
	background : #A0D7C2;
	background : rgba(160, 215, 194, 1);
	opacity : 0.1;
	position : absolute ;
	left : 149px;
	top : 320px;
	width : 296px;
	height : 437px;
	filter: alpha(opacity=10) progid:DXImageTransform.Microsoft.Alpha(opacity=10) ;
}
.NormalCharacterStyle7
{
	font-family : Courier New;
	font-size : 15px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle6
{
	font-family : Myriad Pro;
	font-size : 15px;
	line-height : 18px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle5
{
	font-family : Myriad Pro;
	font-size : 15px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
