.initial {
    background-image: url('Images/bg1.png');
    background-size: 100% 100%;

}

.second{
    background-image: url('Images/bg2.png');
    background-size: 100% 100%;
}

.third{
    background-image: url('Images/bg3.png');
    background-size: 100% 100%;
}

.fourth{
    background-image: url('Images/bg4.png');
    background-size: 100% 100%;
}