body {
    background-image: url('Images/spark_background.png');
    background-size: 100% 100%;

}

.title {
    color: yellow;
    text-align: center;
    font-size: 5em;
    padding-top: 1.5em;
    font-family: 'brand';
}

.main-text1 {

    color: white;
    padding-left: 8%;
    font-size: 1.3em;
    font-family: 'quantum';
}

.main-text2 {
    color: white;
    padding-left: 8%;
    font-size: 1.3em;
    font-family: 'quantum';
}

#bear-image {
    width: 60%;
    height:auto;
    float: right;
    margin-right: 8%;
}

#bull-image {
    width: 50%;
    height : auto;
    float: right;
    margin-right: 8%;
}
#part1-1 {
    padding-right: 8%;
}
#part1-2 {
    display: flex;
    align-items: flex-end;
}

#part2-1 {
    display: flex;
}
#part2-2 {
    padding-right: 8%;
}
.quote {
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 10px 10px #ff00d4,
                inset 0px 0px 0px 2px yellow;
    border: white;
    width: 600px;
    margin: auto;
    border-radius: 20px;
}

.quote h6 {
    font-size: 1em;
    text-align: right;
    padding-right: 2%;
    margin-top: -4%;
}

@media (max-width: 600px) {
    .title {
        color: yellow;
        text-align: center;
        font-size: 3em;
        padding-top: 2em;
        font-family: 'brand';
    }

    .main-text1 {

        color: white;
        padding-left: 4%;
        font-size: 0.7em;
        font-family: 'quantum';
    }
    
    .main-text2 {
        color: white;
        padding-left: 4%;
        font-size: 0.7em;
        font-family: 'quantum';
    }

    .quote {
        font-size: 1em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        text-align: center;
        box-shadow: 0px 0px 5px 5px #ff00d4,
                    inset 0px 0px 0px 1px yellow;
        border: white;
        width: 80vw;
        margin: auto;
        padding-top: 2%;
        border-radius: 5vw;
    }
    
    .quote h6 {
        font-size: 1em;
        text-align: right;
        padding-right: 5%;
        margin-top: -4%;
        padding-bottom: 2%;
    }
}