#intro {
    content: url("../Gifs/navritiEdit_new.gif");
    width : 100%;
    height : auto;
}

#interview{
    background-image: url("../Images/small_long_vector+background.png");
    background-size: 100% 100%;
   padding-top: 10px;
   padding-bottom: 400px;

}

#articles{
    background-image: url("../Images/small_long_vector+background.png");
   background-size: 100% 100%;
   padding-top: 10px;
   padding-bottom: 400px;

}

#team{
    background-image: url("../Images/meetteam.png");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 40px;
    position: relative;

}
.heading{
    width: 100%;

    font-family: 'quantum';
    font-size:150px
}
.teamImage{
    width : 100%;
    height : auto;

}
.page_head{
    font-size: 60px;
}

@media (max-width: 800px){
    
    #intro {
        content: url("../Gifs/navritiEdit_new.gif");
        width : 100%;
        height : 300px;
        box-sizing: content-box;
        border-top: 120px solid black;
        
    }
    
    #interview{
        background-image: url("../Images/small_long_vector+background.png");
       background-size: 100% 100%;
       padding-top: 10px;
       padding-bottom: 200px;
    
    }

    #articles{
        background-image: url("../Images/small_long_vector+background.png");
       background-size: 100% 100%;
       padding-top: 10px;
       padding-bottom: 200px;
    
    }
    #team .heading{
        position: relative;


        font-size: 80px;
  

    }
    #team{
        background-image: url("../Images/meetteam.png");

        background-attachment: fixed;
        background-repeat: no-repeat;
        padding-top: 10px;

        
        padding-bottom: 70px;
    
    
        
    }

    .team_heading{
        font-size: 40px;
        margin: auto;

    }
    .teamImage{
        width : 60%;
        height : auto;
        
    }
    .page_head{
        font-size: 50px;
        margin: auto;
        
    }
}